services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: unimis
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - unimis_pg:/var/lib/postgresql/data

  backend:
    build: ./backend
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - ./backend/app/templates:/app/app/templates
      - ./data:/data

volumes:
  unimis_pg:
